body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
header {
  background-color: #35424a;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.destination {
  padding: 40px;
  text-align: center;
}
.destination h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.destination-item {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
}
.destination-item img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
footer {
  background-color: #35424a;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}
